.admin-head{
    color:red;
    margin-top: 100px;
    left: 500px;
    font-family: Georgia;
    font-size: 50px;
}

.adminform{
    margin-top: 150px; 
    margin-left: 600px;
    color: red;
    text-justify: center;
    font-weight: bold;
    font-size: 20px;
   
}  



.submit{
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    height: 30px;
    width: 70px;
    cursor:pointer;
}

.submit:hover{
    color: rgb(130, 225, 57);
}

